<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0>">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}"/>

    <title>Aula Python</title>
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/produtos">Produtos</a></li>
</ul>

<section class="container">

    <img src="{{ url_for('static', filename='img/home.jpg') }}" width="800"/>
    <h1> O maior e melhor site para você realizar sua compra!!! </h1>

</section>
{% block conteudo %}
{% endblock conteudo %}

</body>
</html>